@import "tailwindcss";

.big-box-shadow {
  transition-duration: 0.5s;
  overflow-x: hidden;
  box-shadow:
    35px 35px 68px rgba(58, 62, 108, 0.5),
    inset 0 12px 30px rgba(255, 255, 255, 0.5),
    inset -12px -12px 30px rgba(58, 62, 108, 0.6);
}

.medium-box-shadow {
  transition-duration: 0.5s;
  box-shadow:
    20px 20px 40px rgba(58, 62, 108, 0.5),
    inset 15px 15px 30px rgba(255, 255, 255, 0.5),
    inset -20px -20px 30px rgba(58, 62, 108, 0.6);
}

.small-box-shadow {
  transition-duration: 0.5s;
  overflow-x: hidden;
  box-shadow:
    10px 10px 20px rgba(58, 62, 108, 0.5),
    inset 0 5px 10px rgba(255, 255, 255, 0.5),
    inset -10px -10px 20px rgba(58, 62, 108, 0.6);
}

.white {
  --boxColor: #ffffff;
}
.blue {
  --boxColor: #7f77ff;
}
.off-blue {
  --boxColor: #d4d2ff;
}
.dark-blue {
  --boxColor: #8387c3;
}
.darker-blue {
  --boxColor: #534db4;
}
.red {
  --boxColor: #ff7768;
}
.yellow {
  --boxColor: #f2c248;
}
.green {
  --boxColor: #54f248;
}
.black {
  --boxColor: #212121;
}

.big-box-shadow:hover {
  scale: 1.02;
}
.big-box-shadow:active {
  scale: 0.9;
}

body,
#root {
  overflow-x: hidden;
}
